<div id="<%= dom_id customshippingrate %>">
  <p>
    <strong>Nombre tarifa:</strong>
    <%= customshippingrate.nombre_tarifa %>
  </p>

  <p>
    <strong>Comuna:</strong>
    <%= customshippingrate.comuna %>
  </p>

  <p>
    <strong>Etiqueta:</strong>
    <%= customshippingrate.etiqueta %>
  </p>

  <p>
    <strong>Precio:</strong>
    <%= customshippingrate.precio %>
  </p>

</div>
